<div id="phoneNumber" class="phoneNumberDialer" style="color: #FFFFFF; height:30px; width: 100%; position: fixed; top: 10px; left: 0px;">				
	<span id="dialerLabel">Enter number or choose contact...</span>
</div>			
<table id="dialer-table" class="dialer-table" border=0 cellspacing=0 style="position: fixed; top: 51px;">
	<tr>
		<td class="dialer-cell" id="1">&nbsp;</td>
		<td class="dialer-cell" id="2">&nbsp;</td>
		<td class="dialer-cell" id="3">&nbsp;</td>
	</tr>
	<tr>
		<td class="dialer-cell" id="4">&nbsp;</td>
		<td class="dialer-cell" id="5">&nbsp;</td>
		<td class="dialer-cell" id="6">&nbsp;</td>
	</tr>
	<tr>
		<td class="dialer-cell" id="7">&nbsp;</td>
		<td class="dialer-cell" id="8">&nbsp;</td>
		<td class="dialer-cell" id="9">&nbsp;</td>
	</tr>
	<tr>
		<td class="dialer-cell" id="*">&nbsp;</td>
		<td class="dialer-cell" id="+">&nbsp;</td>
		<td class="dialer-cell" id="#">&nbsp;</td>
	</tr>
	<tr>
		<td id="btnCall" class="dialer-cell" colspan=3 align="right">
			<div x-mojo-element="Spinner" id="spinnerIdSmall" name="spinnerName" style="position: fixed; left: 270px;"></div>
		</td>
	</tr>
	<tr>
		<td colspan=3>&nbsp;</td>
	</tr>
</table>
<img id="imgContactsBackspace" src="images/contacts.png" style="position: fixed; right: 2px; top: 12px; z-index: 1;"></img>
<img id="bg" src="images/bg_dialer.png" style="position: fixed; left: 0px; top: 0px; z-index: -1; width: 320px;"></img>