<div class="dashboard-notification-module">
    <div class="palm-dashboard-icon-container">
        <div class="dashboard-newitem">
            <span id="unreadMessageCount"></span>
        </div>
        <div id="dashboard-icon" class="palm-dashboard-icon">
        </div>
    </div>
    <div id="messageContainer" class="palm-dashboard-text-container">
        <div id="topLine" class="dashboard-title"></div>
        <div id="bottomLine" class="palm-dashboard-text"></div>
    </div>
</div>