<div id="main" class="palm-hasheader" width="320">
	<div class="palm-header center" id="main-hdr">Options</div>		
	
	<table>
		<tr>
			<td colspan=2 align="center"> <div>[press enter to switch boxes]</div></td>
		</tr>
		<tr>
			<td><div>GV #: </div></td>
			<td><div id="phoneInput" x-mojo-element="TextField" align="left"></div></td>
		</tr>
		<tr>
			<td><div>PIN: </div></td>
			<td><div id="pinInput" x-mojo-element="PasswordField" align="left"></div></td>
		</tr>
		<tr>
			<td><div>Email: </div></td>
			<td><div id="emailInput" x-mojo-element="TextField" align="left"></div></td>
		</tr>
		<tr>
			<td><div>Passwd:</div></td>
			<td><div id="passwordInput" x-mojo-element="PasswordField" align="left"></div></td>
		</tr>
		<tr>
			<td colspan=2><div x-mojo-element="CheckBox" id="usePinCheckbox" class="checkboxClass"></div><div>Enter PIN code for phone call?</div></td>
		</tr>
		<tr>
			<td colspan=2><div x-mojo-element="CheckBox" id="voicemailDialCheckbox" class="checkboxClass"></div><div>Dial from voicemail (vs. web)?</div></td>
		</tr>
		<tr>
			<td><div>Fwd #: </div></td>
			<td><div id="fwdPhoneInput" x-mojo-element="TextField" align="left"></div></td>
		</tr>
		<tr>
			<td colspan=2 align="center"> <div x-mojo-element="Button" id="btnSave" class="buttonClass"></div></td>
		</tr>
		<tr>
			<td colspan=2 align="center"> <div x-mojo-element="Button" id="btnDelete" class="buttonClass"></div></td>
		</tr>
	</table>
</div>