<!--<div id="title" style="color: #FFFFFF; position: absolute; left: 30px; top: 80px; font-family: Arial; font-size: 36px; font-weight: bold"></div>
<div id="version" style="color: #FFFFFF; position: absolute; left: 113px; top: 315px; font-family: Arial; font-size: 18px; font-weight: bold"></div>
<img src="images/splashIcon.png" style="position: absolute; left: 105px; top: 155px;"></img>-->
<div id="title" style="color: #FFFFFF; position: absolute; left: 30px; top: 25px; font-family: Arial; font-size: 36px; font-weight: bold"></div>
<div id="version" style="color: #FFFFFF; position: absolute; left: 113px; top: 410px; font-family: Arial; font-size: 18px; font-weight: bold"></div>
<img src="images/dkGoogleVoiceIcon.png" style="position: absolute; left: 0px; top: 60px;"></img>
<img src="images/bg.png" height=100% width=100%></img>

